@use 'sass:color';
@use '../../../styles/includes' as *;

.group {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.button {
  @include button-size;
  @include button-variant;
  @include text-semibold;

  & {
    position: relative;
    display: flex;
    border: 1px solid transparent;
    border-radius: 0.5em;
    text-decoration: none;
    transition:
      transform 0.2s ease,
      background-color 0.2s ease,
      border-color 0.2s ease,
      color 0.2s ease;
  }

  &:active {
    transform: scale(0.95);
  }

  &:focus-visible {
    outline: 2px solid $color-dark;
    outline-offset: 2px;
  }
}

.content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.is-loading {
  .content {
    opacity: 0;
  }
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: rotate-loading 2s linear infinite;
  color: $text-title;
}

.is-ghost {
  animation: ghost 1.4s linear infinite;

  .content {
    opacity: 0;
  }
}
