@use '../../../styles/includes' as *;

$stroke: #ddd;
$color-neutral-01: #f7f7f7;
$color-neutral-07: #717171;
$color-shade-02: #222;
$color-disabled: #ddd;

$color-error-01: #FEF8F6;
$color-error-02: #C13515;

.fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  .icon {
    color: $text-title;
  }
}

// REMOVE AUTOFILL BLUE

.outer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.96875rem 1rem;
  border: 1px solid $stroke;
  border-radius: 0.5rem;

  &:hover:not(.is-disabled, .error &, :has(.button:hover)) {
    background: $color-neutral-01;
  }

  &:focus-within:not(:has(.button:focus)) {
    background: $color-neutral-01;
    outline: 2px solid $color-shade-02;
    outline-offset: -2px;
  }

  &.is-disabled {
    background: $color-disabled;
    border-color: transparent;

    .input {

      &:focus-within {
        outline: 0;
      }
    }
  }

  &.is-loading {
    position: relative;
    background: transparent;
    border-color: transparent;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $color-neutral-01;
      border: 1px solid $stroke;
      border-radius: 0.5rem;
    }
  }

  &.is-ghost {
    position: relative;
    background: transparent;
    border-color: transparent;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      animation: ghost 1.4s linear infinite;
      border-radius: 0.5rem;
    }
  }
}

.inner {
  position: relative;
  flex: 1;
  line-height: 1.4375rem;
}

.input {
  position: relative;
  width: 100%;
  background: transparent;
  color: $text-title;
  font-size: 1rem;
  line-height: 1.4375rem;
  transition: all 0.2s ease-in-out;

  &:focus {
    outline: 0;
  }

  &:focus,
  &:not(:placeholder-shown) {
    top: 0.46875rem;

    .no-label & {
      top: 0;
    }

    & + .placeholder {
      font-size: 0.75rem;
      line-height: 0.875rem;
      padding: 0;
      top: -0.40625rem;
      color: $text-body;
    }
  }

  & + .placeholder {
    font-size: 1rem;
    line-height: 1.4375rem;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    color: $color-neutral-07;
    pointer-events: none;
  }
}

.helper {
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: $color-neutral-07;
}

.error {
  
  .outer {
    background: $color-error-01;
    border-color: $color-error-02;

    &:focus-within:not(:has(.button:focus)),
    &:not(:placeholder-shown) {
      background: $color-error-01;
      outline-color: $color-error-02;
    }

    .placeholder {
      color: $color-error-02;
    }
  }

  .helper {
    color: $color-error-02; 
  }
}

.text {
  font-size: 1rem;
  line-height: 1.4375rem;
  color: $text-title;
}

.button {
  margin: -0.375rem -0.375rem -0.375rem 0;
}

.function {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  text-decoration: underline;
  margin: -1.12500rem -1rem;
  padding: 1.12500rem 1rem;
}

.icon-wrap {
  pointer-events: none;
}

.function {
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: rotate-loading 2s linear infinite;
  z-index: 1;
  color: $text-title;
}
